body{
    background-color: #dfdfdf;
   
}

p{
    color: rgba(189, 22, 22, 0.767);
}

b{
    color:blue;
}

.foto_principal {
    width: 150px;
    border: 3px ridge rgb(134, 125, 125);
    border-radius: 20% 70% 70% 20%;
    margin-top: 60px;
    margin-left: 30px;
}

